# please modify if you notice files being exclude by
# the generic rules at the top
# ignore output files
*.o
*.a
ED/build/ed_2.1-*
.nfs*

# ignore backup files
*~
*#
*.swp
*.swo

# very general rules to ignore files in bin folder
ED/build/bin*/*

# specific rules
BRAMS/*/bin/*.mod
BRAMS/*/bin/*.f90
BRAMS/*/bin/*.F90
BRAMS/*/bin/*.c
BRAMS/*/bin/include.mk.opt
BRAMS/*/bin/dependency.mk
Ramspost/*/bin/include.mk.opt
Ramspost/*/bin/dependency.mk
Ramspost/*/bin/*.mod
Ramspost/*/bin/*.f90
Ramspost/*/bin/*.F90
Ramspost/*/bin/*.c
RAPP/*/bin/dependency.mk
RAPP/*/bin/include.mk
RAPP/*/bin/*.mod
RAPP/*/bin/*.f90
RAPP/*/bin/*.F90
RAPP/*/bin/*.c

ed-test
kiss
racci
santarem
wetamc
BRAMS/testrun
testrun
coupled-test
BRAMS/build/edbrams-opt
logs.txt
looong-run
soi-test
colombia
4thLBA
changed.sh
difere.sh
notequal.txt
quebec
amazon
ED/newbuild
compare.sh
scenarios
backup.bzr
erasoi
ED/src/preproc/cdc2hdf/consts_coms.mod
ED/src/preproc/cdc2hdf/hdf5_coms.mod
ED/src/preproc/cdc2hdf/hdf5_utils.mod
ED/src/preproc/cdc2hdf/therm_lib.mod
ED/src/memory/var_tables_array.f90
ED/build/bin/Make.depend.1.old
abarca
bbarca
ED/dbgbuild
#BRAMS/dbgbuild
edbbarca
auxedbbarca
regional
4polygons
rondonia
ED/8lyrbuild
ED/grassbuild
Ramspost/build/ramspost_6.2
Ramspost/build/bin/include_ramspost.mk
ED/src/init/notop_ed_params.f90
ED/src/init/optim_ed_params.f90
.hdf4_libs
auxbbarca
cirsan
new_abarca
new_bbarca
optim
tropical
Ramspost/dbgbuild
2984
4326
2038
BAU4326
barca
couptest
dry-16km
old_barca
wet-16km
wet-42km
BRAMS/tmpbuild
ED/tmpbuild
SA1.4326
brams4326
deforest-22km
BRAMS/i10dbg
ED/i10build
ED/i11build
coupled
leaftest
old_tests
regional_ED
BRAMS/i11dbg
ED/dbgbuild/ed_2.1-opt
check_diff.sh
BRAMS/line_counter.sh
ED/line_counter.sh
BRAMS/newbuild
ED/i10dbgbuild
new_regional
BRAMS/src/advc_mnt
ED/amd_build
tmp_stuff
BRAMS/i11dbg/edbrams-opt
BRAMS/i11dbg/edbrams-opt.a
BRAMS/src/lib/dted.c.pdb
BRAMS/src/lib/utils_c.c.pdb
BRAMS/gnubuild
BRAMS/i11build
BRAMS/build/edbrams-new
BRAMS/i10dbg/*.F90
BRAMS/i10dbg/*.c
BRAMS/i10dbg/edbrams-opt
BRAMS/i12dbg/edbrams-opt
#BRAMS/build
BRAMS/build/edbrams-srf
BRAMS/i10dbg/bin/include.mk.opt
BRAMS/i12build
ED/cs6_build/bin/include.mk.opt
ED/cs6_build/ed_2.1-cs6
notthesame.txt
ED/build/bin/configure
ED/build/rad_param.data
ED/slurmdbg
R-utils/read.q.temporary.r
ED/m61build
#Manfredo ignores
.*
!.gitignore
!.travis.yml
!.gitattributes
ED/build/csspss/*
ED/build/analy/*
ED/build/histo/*
ED/build/OGE2/*
ED/build/FAO/*
ED/build/Paracou/*
ED/build/post_process/*
ED/build/thermal_sums/*
ED/build/ED2IN*
ED/build/allom_param.txt
ED/build/pft_sizes.txt
